p{
    color:black;
    background-color: rgb(226, 237, 4);
    text-align:center;
    font-size:31px;
    padding-top: 50px;
    width: 604px;
    height: 100px;
    border: 30px solid blue;
    display: inline-block;
    margin: 80px;
    margin-left: 150px;
    
     

}
.ak{
    padding-left: 20px;
    border: 5px solid black;
    margin-right: 55px;
    margin-bottom: 100px;
    

}