div{
    border: 1px solid black;
    background-color: rgb(161, 129, 134);
    height: 400px;
    
}
img{
    width: 400px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    
}
h3{
    clear: both; 

}
/* we use clear to clear float property anywhere in the code
*/