p{
    font-family: Algerian;
    color: red;
    text-align: center;
    font-size: 28px;
}

/* Box 1 */
.ss{
    background-color: cyan;
    border: 3px dashed red;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: 100px;
    left: 100px;
}

/* Box 2 */
.ak{
    background-color: aquamarine;
    border: 3px dotted black;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: 250px;
    left: 250px;
}

/* Box 3 */
.ap{
    background-color: yellow;
    border: 3px dotted black;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: 400px;
    left: 400px;
}

/* Box 4 */
.am{
    background-color: pink;
    border: 3px dotted black;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: 550px;
    left: 550px;
}